<a href="https://colab.research.google.com/github/Shruti831/assignment1/blob/main/Python_DS2_Assignment3_Shruti.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Write a code to reverse a string

def reverse_string(s):
    return s[::-1]

input_string = "hello"
print(reverse_string(input_string))

olleh

In [ ]:
#Write a code to count the number of vowels in a string

def count_vowels(s):
    vowels = "aeiouAEIOU"
    count = 0
    for char in s:
        if char in vowels:
            count += 1
    return count

input_string = "hello"
print(count_vowels(input_string))

2

In [ ]:
#Write a code to check if a given string is a palindrome or not

def is_palindrome(s):
    return s == s[::-1]

# Example usage
input_string = "racecar"
print(is_palindrome(input_string))

True

In [ ]:
#Write a code to check if two given strings are anagrams of each other

string1 = "listen"
string2 = "silent"
print(sorted(string1) == sorted(string2))

True

In [ ]:
#Write a code to find all occurrences of a given substring within another string

def find_substring_occurrences(main_str, sub_str):
    occurrences = []
    start = 0
    len2=len(sub_str)
    while start<len(main_str):
      if main_str[start:start+len2]==sub_str:
        occurrences.append(start)
      start+=1
    return occurrences

main_string = "this is a test string, test the code"
substring = "test"
print(len(find_substring_occurrences(main_string, substring)))

2

In [ ]:
#Write a code to determine if a string has all unique characters

input_string = "abcdef"
print(len(set(input_string)) == len(input_string))

True

In [ ]:
#Write a code to convert a given string to uppercase or lowercase
string="wdWWn"
print(string.upper())
print(string.lower())

WDWWN
wdwwn

In [ ]:
#Write a code to count the number of words in a string

input_string = "this is a test string"
words = input_string.split(" ")
print(words)
print(len(words))

['this', 'is', 'a', 'test', 'string']
5

In [ ]:
#Write a code to concatenate two strings without using the + operator

str1 = "Hello"
str2 = "World"
result = " ".join([str1, str2])
print(result)

Hello World

In [ ]:
#Write a code to remove all occurrences of a specific element from a list
element="e"
list2=["e",23,43,3,24,"gvf","e"]
for i in list2:
  if i==element:
    list2.remove(element)
print(list2)

[23, 43, 3, 24, 'gvf']

In [ ]:
#Implement a code to find the second largest number in a given list of integers

list3=[1,3,3,2,5,6]
max=list3[0]
second_large=list3[0]

for i in list3[1:]:
  if (i>max) or (i==max):
    second_large=max
    max=i

  elif (i>second_large) or (i==second_large):
    second_large=i


print(max)
print(second_large)

6
5

In [ ]:
#Create a code to count the occurrences of each element in a list and return a dictionary with elements as keys and their counts as values
str=" "
dict={}
list1=["apple",1,2,11,1,2,2,11,"apple"]
for ele in list1:
  if ele in dict.keys():
    dict[ele]=dict[ele]+1
  else:
    dict[ele]=1

print(dict)

{'apple': 2, 1: 2, 2: 3, 11: 2}

In [ ]:
#Write a code to reverse a list in-place without using any built-in reverse functions

list1=[1,2,3,4,56,7,9]

if len(list1)/2==0:
  mid=len(list1)/2
  for i in list1:
    temp=i
    list1[i]=list1[len(list1)-i-1]
    list1[len(list1)-i-1]=temp

else:
  mid=int(len(list1)/2)
  i=0
  while i<=mid:
    temp=list1[i]
    list1[i]=list1[len(list1)-i-1]
    list1[len(list1)-i-1]=temp
    i+=1

print(list)

[1, 2, 34, 4, 3]

In [ ]:
#Implement a code to find and remove duplicates from a list while preserving the original order of elements

list1=[1,1,2,34,4,1,3,34,2]
i=0
while i < len(list1):
  j=i+1
  while j<len(list1):
    if list1[j]==list1[i]:
      del list1[j]
    else:
      j+=1
  i+=1

print(list1)

[1, 2, 34, 4, 3]

In [ ]:
#Create a code to check if a given list is sorted (either in ascending or descending order) or not

my_list = [1, 2, 3, 4, 5]

if all(my_list[i] <= my_list[i + 1] for i in range(len(my_list) - 1)):
    print("The list is sorted in ascending order.")
# Check if the list is sorted in descending order
elif all(my_list[i] >= my_list[i + 1] for i in range(len(my_list) - 1)):
    print("The list is sorted in descending order.")
else:
    print("The list is not sorted.")

The list is sorted in ascending order.

In [ ]:
#Write a code to merge two sorted lists into a single sorted list

list1 = [1, 3, 5, 7]
list2 = [2, 4, 6, 8]

merged_list = sorted(list1 + list2)

print(merged_list)

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
#Implement a code to find the intersection of two given lists
del list
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

intersection = list(set(list1) & set(list2))

print(intersection)

[4, 5]

In [ ]:
#Create a code to find the union of two lists without duplicates

list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

union = list(set(list1) | set(list2))

print(union)

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
#Write a code to shuffle a given list randomly without using any built-in shuffle functions

list2=[2,5,6,1,46,6]

frozen_set4=frozenset(list2)

print(set(frozen_set4))

{1, 2, 5, 6, 46}

In [ ]:
#Write a code that takes two tuples as input and returns a new tuple containing elements that are common to both input tuples

tuple1 = (1, 2, 3, 4, 5)
tuple2 = (4, 5, 6, 7, 8)

common_elements = tuple(set(tuple1) & set(tuple2))

print(common_elements)

(4, 5)

In [ ]:
#Write a code to concatenate two tuples. The function should take two tuples as input and return a new tuple containing elements from both input tuples.

tuple1 = tuple(input("tuple1"))
tuple2 = tuple(input("tuple2"))
concat=(tuple1+tuple2)
list_concat=list(concat)
i=0
while i < len(list_concat):
  if list_concat[i]==",":
    list_concat.remove(",")
  i+=1

print(tuple(list_concat))

tuple15,5
tuple28,3
('5', '5', '8', '3')

In [ ]:
#Create a code that prompts the user to enter two sets of integers separated by commas. Then, print the intersection of these two sets

set1_input = input("Enter the first set of integers separated by commas: ")
set2_input = input("Enter the second set of integers separated by commas: ")
print(type(set1_input))
set1 = set(int(x) for x in set1_input.split(','))
set2 = set(int(x) for x in set2_input.split(','))

intersection = set1 & set2

print("The intersection of the two sets is:", intersection)

Enter the first set of integers separated by commas: 2,5
Enter the second set of integers separated by commas: 3,5
<class 'str'>
The intersection of the two sets is: {5}

In [ ]:
#Develop a code that prompts the user to input two sets of strings. Then, print the elements that are present in the first set but not in the second set

set1_input = input("Enter the first set of strings separated by commas: ")
set2_input = input("Enter the second set of strings separated by commas: ")

set1 = set(set1_input.split(','))
set2 = set(set2_input.split(','))

difference = set1 - set2

print("The elements present in the first set but not in the second set are:", difference)

Enter the first set of strings separated by commas: shruti,gupta
Enter the second set of strings separated by commas: gupta,patil
The elements present in the first set but not in the second set are: {'shruti'}

In [8]:
#Create a code that takes a tuple and two integers as input. The function should return a new tuple
#containing elements from the original tuple within the specified range of indices&

original_tuple = eval(input("Enter tuple"))
start_index = int(input("INteger1:"))
end_index = int(input("INteger2:"))
print(original_tuple)
print(original_tuple[start_index:end_index])

Enter tuple2,3,4,5,2,2
INteger1:2
INteger2:4
(2, 3, 4, 5, 2, 2)
(4, 5)

In [12]:
#Write a code that prompts the user to input two sets of characters. Then, print the union of these two sets

set1 = set(input("Enter first set of characters: "))
set2 = set(input("Enter second set of characters: "))

union_set = set1 | set2

print("Union of the two sets:", union_set)

Enter first set of characters: ygguhjj
Enter second set of characters: yvbgh
Union of the two sets: {'h', 'u', 'y', 'b', 'v', 'j', 'g'}

In [13]:
#Develop a code that takes a tuple of integers as input. The function should return the maximum and
#minimum values from the tuple using tuple unpacking

input_tuple = tuple(input("Enter a tuple of integers separated by spaces: ").split())

input_tuple = tuple(int(x) for x in input_tuple)

max_value, min_value = max(input_tuple), min(input_tuple)

# Output the maximum and minimum values
print(f"Maximum value: {max_value}")
print(f"Minimum value: {min_value}")

Enter a tuple of integers separated by spaces: 8 8 8 5 52 25
Maximum value: 52
Minimum value: 5

In [14]:
#Create a code that defines two sets of integers. Then, print the union, intersection, and difference of these two sets

set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

union_set = set1 | set2

intersection_set = set1 & set2

difference_set1 = set1 - set2

difference_set2 = set2 - set1

print("Union of the two sets:", union_set)
print("Intersection of the two sets:", intersection_set)
print("Difference (set1 - set2):", difference_set1)
print("Difference (set2 - set1):", difference_set2)

Union of the two sets: {1, 2, 3, 4, 5, 6, 7, 8}
Intersection of the two sets: {4, 5}
Difference (set1 - set2): {1, 2, 3}
Difference (set2 - set1): {8, 6, 7}

In [15]:
#Write a code that takes a tuple and an element as input. The function should return the count of occurrences of the given element in the tuple

input_tuple = tuple(input("Enter a tuple of elements (comma separated): ").split(','))
element = input("Enter the element to count occurrences of: ")

count = input_tuple.count(element)

print(f"The element '{element}' appears {count} times in the tuple.")

Enter a tuple of elements (comma separated): 5,8,5,8
Enter the element to count occurrences of: 5
The element '5' appears 2 times in the tuple.

In [17]:
#Develop a code that prompts the user to input two sets of strings. Then, print the symmetric difference of these two sets

set1_input = input("Enter the first set of strings (comma separated): ")
set2_input = input("Enter the second set of strings (comma separated): ")

set1 = set(set1_input.split(','))
set2 = set(set2_input.split(','))

symmetric_difference = set1 ^ set2

print("Symmetric difference of the two sets:", symmetric_difference)

Enter the first set of strings (comma separated): 3,4,3,4,4,3,3,4,5
Enter the second set of strings (comma separated): 3,4,3,4,3,3,4
Symmetric difference of the two sets: {'5'}

In [18]:
#Write a code that takes a list of words as input and returns a dictionary where the keys are unique words
#and the values are the frequencies of those words in the input list

input_string = input("Enter a list of words (comma separated): ")

words_list = input_string.split(',')

word_count = {}

for word in words_list:
    word = word.strip()
    if word in word_count:
        word_count[word] += 1
    else:
        word_count[word] = 1

print("Word frequencies:", word_count)

Enter a list of words (comma separated): shruti,gupta,shruti,shruti,gupa,shruti
Word frequencies: {'shruti': 4, 'gupta': 1, 'gupa': 1}